@{
    ViewBag.Title = "About";
}
<h2>Care about you more and more!</h2>

<p>
    We are a Healthcare Services company, with around 100 staff and 4000 users.<br />
    We will try our best to help every patients to get HQ services.<br />
    More convenience and More careful. <br />
</p>
