@{
    ViewBag.Title = "Contact";
}

<h2>We hope to be honored with your further suggestion!</h2>

<address>
    Gongyryuanq, Xuetang Street<br />
    Suzhou, China<br />
    <abbr title="Phone">P:</abbr>
    +86 16651070801
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">1350358138@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">a16651070801@google.com</a>
</address>