@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>careUmore</h1>
    <p class="lead">careUmore is a High quality Healthcare Services provider. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use careUmore to scan the doctors' information. Save your time!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more services</h2>
        <p>Make an appointment with your doctor in an appropriate time! </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Look how others comment this doctor</h2>
        <p>You can easily find other' comments which can help you!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

